
<div class="content" *ngIf="!isEdit">
    <div class="row">
        <div class="text-center col-center" >
            <h2>Blog posts</h2>
            <hr>
            <div class="col-md-5 col-lg-3 col-sm-10 col-xs-12 thumbnail" *ngFor='let post of pagedItems'>
                <div class="text-center">
                    <h4 class="article-title" id="title">{{ post.Title }}</h4>
                    <p id="descr">{{post.Description}}</p>
                    <img src="{{ post.ImageSrc }}" class="img-responsive" alt=""/>
                    <div id="publishDate">Published on: {{post.PublishDate}}</div>
                    <br/>           
                    <br/>                       
                    <a href="{{post.ArticleUrl}}" class="btn btn-primary" id="readmore">Read more...</a>
                    <div *ngIf="currentUserId == post.UserId">
                    <a class="btn" id="delete" (click)="deletePost(post)">
                        <i class="fa fa-trash-o"></i>
                    </a>
                    <a class="btn" id="edit" (click)="onEdit(post)">
                      <i  class="fa fa-pencil-square-o"></i>
                    </a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!isEdit">
    <div class="container">
        <div class="text-center"> 
            <!-- pager -->
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container" *ngIf="isEdit">
    <div class="form-area">  
        <form role="form" ngNativeValidate #editForm="ngForm">
        <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">Edit Post</h3>
            <div class="form-group">
            <input [(ngModel)]="postToEdit.Title" type="text" class="form-control" id="title" name="title" placeholder="Title" required>
          </div>
          <div class="form-group">
            <textarea [(ngModel)]="postToEdit.Description" class="form-control" type="textarea" id="description" name="description" placeholder="Description" rows="3" required></textarea>
          </div>
          <div class="form-group">
            <input [(ngModel)]="postToEdit.ImageSrc" type="text" class="form-control" id="imageSrc" name="imageSrc" placeholder="Image url" required>
          </div>
          <div class="form-group">
            <input [(ngModel)]="postToEdit.ArticleUrl" type="text" class="form-control" id="articleUrl" name="articleUrl" placeholder="Article url" required>
          </div>              
        <button type="button" id="submit" name="submit" (click)='editPost(postToEdit)' class="btn btn-primary pull-right">Update post</button>
        </form>
    </div>
</div>