<div class="content">
    <div class="row">
        <div class="col-md-12">
            <h2>About</h2>
            <hr>
            <p>This blog application is developed as a course project for the subject "Dynamic Web Applications With JavaScript"</p>
            <p>at the Plovdiv University "Paisii Hilendarski", Faculty of Informatics and Mathematics.</p>
            <p>Developer: </p>
            <p>Pavlin Georgiev</p>
            <ul class="list-unstyled">
                <li><img class="img-responsive img-thumbnail" src="assets/images/me.jpg" alt="Avatar"></li>
                <br>
            </ul>
        </div>
    </div>
</div>