#footer-holder{
    background-color: #333;
    font-size: 1.4em;
    text-align: center;    
    padding: 150px;
    font-weight: bold;

}
#footer-holder h3 {   
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}