<footer>
  <hr>
  <div id="footer-holder">
      <div>
          <h3>
            © 2018 - Developed by PG
          </h3>
          <br/>
            <div>
              <a href="https://www.facebook.com/pavlin.georgiev.94" target="_blank">
                  <img  src="assets/images/facebook.jpg" alt="Facebook"  title="Facebook">
              </a>
              <a href="https://github.com/p-georgiev" target="_blank">
                  <img src="assets/images/github.jpg" alt="GitHub" title="GitHub">
              </a>
            </div>
      </div>
      <hr>
  </div>
</footer>
<br>